nav {
    background-color: #007bff;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    animation-duration: 2s;
}

h2 {
    text-align: center;
    animation: lightSpeedInRight;
    animation-duration: 2s;
}


a {
    animation:flipOutX;
    animation-duration: 2s;
}

p {
    line-height: 1.6;
    animation-duration: 2s;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin: 5px;
}

.horaire {
    color: green;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}




.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 20px;
    margin-right: 5px;
}


  /* Media Queries */
  @media screen and (max-width: 768px) {
    .navbar ul li {
      display: block;
      margin-bottom: 10px;
    }
  }